@import url('https://fonts.googleapis.com/css2?family=Quicksand');

body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: 'Quicksand', cursive;
}

.container {
    max-width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.card {
    position: relative;
    margin: 20px 0;
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, .5);
    z-index: 100
}

.card:hover {
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, .5);
    z-index: 101;
    cursor: pointer
}

.card .imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;

    transform-origin: left;
    z-index: 1;
    transition: 1s
}

.card .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.card:hover .imgbox {
    transform: rotateY(-135deg);
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px
}